/* Keep the title's style */
.menu-title a {
    color: inherit;
    text-decoration: none;
}

/* Increase the max width of the main content container */
.content main {
  max-width: 888px; /* Default is 750px; adjust higher or lower as needed */
}

/* Optional: Allow code blocks to expand alongside the main text */
.content main blockquote,
.content main pre {
  max-width: 100%;
}

/* Justify main body text */
.content main {
  text-align: justify;
}

/* Decrease the main page title (H1) */
.content main h1 {
  font-size: 2.1rem; /* Default is around 2.2rem */
}

/* Decrease subheadings if needed */
.content main h2 {
  font-size: 1.4rem;
}

.content main h3 {
  font-size: 1.2rem;
}

.author {
  font-weight: bold;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 110%;
  opacity: 0.75;
  text-align: right;
  margin-top: -20px;
  margin-bottom: 60px;
}

/* Optional: Apply these smaller sizes ONLY on mobile screens */
@media (max-width: 600px) {
  .content main h1 {
    font-size: 1.5rem;
  }
}

/* target mobile screens */
@media (max-width: 800px) {
  /* target the title text in the sidebar */
  .sidebar-title {
    font-size: 1.1rem; /* Adjust this value as needed */
  }

  /* target the main page top header/title if needed */
  .menu-title {
    font-size: 2rem;
    font-weight: bold;
  }
  .content main h1 {
    font-size: 2.1rem;
  }
}
