/* Decrease the main page title (H1) */
.content main h1 {
  font-size: 2.1rem; /* Default is around 2.2rem */
}

/* Decrease subheadings if needed */
.content main h2 {
  font-size: 1.4rem;
}

.content main h3 {
  font-size: 1.2rem;
}

/* Optional: Apply these smaller sizes ONLY on mobile screens */
@media (max-width: 600px) {
  .content main h1 {
    font-size: 1.5rem;
  }
}

/* target mobile screens */
@media (max-width: 800px) {
  /* target the title text in the sidebar */
  .sidebar-title {
    font-size: 1.1rem; /* Adjust this value as needed */
  }

  /* target the main page top header/title if needed */
  .menu-title {
    font-size: 2rem;
    font-weight: bold;
  }
  .content main h1 {
    font-size: 2.1rem;
  }
}
